
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="icon" href="https://clochie.com/intoll/webassets/Icon.png">
    <title>S'N'N|| login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    
    <header>
      <div class="sign">
           <p id="Sign-In">Log In</p>
           <p id="Sign-Up">Sign Up</p>
        </div>
    </header>

    <main>

        <div class="block1">
            <h1>Log In</h1>
            <form id="form-sign-up" method="POST" action="/login" >

                <input placeholder="Email" type="email" name="Email" {{#if message.email}} class="errorInput"{{/if}} class="checkInput">
               
                <div>
                {{#if message.email}}
                 <h5>{{message.email}}</h5>
                {{/if}}
                </div>

                <input placeholder="Password" type="password" name="Password"{{#if message.password}} class="errorInput"{{/if}} class="checkInput">
                
                <div>
                {{#if message.password}}
                <h5>{{message.password}}</h5>
                {{/if}}
                </div>
            
                <div class="flex-box">
                    <p>Don't have an account? <span id="Sign-In-Sub"><a href="signup"> Sign Up</a></span></p>
                    <button  id="SubmitBtn" type="submit"><ion-icon name="arrow-forward-outline"></ion-icon></button>
                </div>  
            </form>

                   
        </div>
        
    </main>
    
    <script src="login.js"></script>
</body>
</html>
